<h1 class="heading">{{ title }}</h1>

<ul *ngFor="let item of users">
  <li>{{item.name}}</li>
  <li>{{item.phone}}</li>
  <ul *ngFor="let acc of item.socialAccount">
    <li>{{acc}}</li>
  </ul>
</ul>
