<h1 class="heading">{{ title }}</h1>

<div [ngSwitch]="color">
  <h1 *ngSwitchCase="'red'" style="color: red;">Red color</h1>
  <h1 *ngSwitchCase="'green'" style="color: rgb(5, 182, 79);">green color</h1>
  <!-- for the default case -->
  <h1 *ngSwitchDefault="" >Default color</h1>
</div>
