<h1 class="{{ title }}">Hello Angular {{ title }}</h1>

<input type="text" #box placeholder="enter Name" name="name" />

<button (click)="getValue(box.value)">Click me</button>
<br />
<h1>box value --> {{ displayValue }}</h1>
