
<h1>{{title}}</h1>

<form #basicForm="ngForm" (ngSubmit)="getData(basicForm.value)">
  <input type="text" ngModel name="user" placeholder="Enter the username" >
  <br>
  <input type="text" ngModel name="email" placeholder="Enter the email" >
  <br>
  <input type="text" ngModel name="password" placeholder="Enter the password" >
  <br>
  <button>Register</button>
</form>

<ul>
  <li>{{userData.user}}</li>
  <li>{{userData.email}}</li>
  <li>{{userData.password}}</li>
</ul>
