<h1 class="heading">{{ title }}</h1>

<ng-template [ngIf]="color==='red'">
  <h1 style="color: red;">Red color</h1>
</ng-template>
<ng-template [ngIf]="color==='green'" >
  <h1 style="color: green;">Green color</h1>
</ng-template>

<ng-template [ngIf]="color==='blue'" >
  <h1 style="color: blue;">blue color</h1>
</ng-template>
