<nav>
  <img src="https://angular.io/assets/images/logos/angular/logo-nav@2x.png" alt="alt logo">
  <ul>
    <li><a href="#">Home</a></li>
    <li><a href="#">About</a></li>
    <li><a href="#">login</a></li>
    <li><a href="#">User</a></li>
  </ul>
</nav>
