<h1 class="heading">{{title}}</h1>

<input type="text" name="username" value="{{defaultName}}" disabled="{{disable}}">
<br>
<input type="text" name="username" [value]=defaultName [disabled]=disable  >
