<h1 class="heading">{{ title }}</h1>

<h1 *ngIf="show;then ifBlock else elseBlock"></h1>

<ng-template #ifBlock>
  <h1>If condtion</h1>
</ng-template>
<ng-template #elseBlock>
  <h1>Else condtion</h1>
</ng-template>
