<h1>{{ title }}</h1>
<mat-slider min="1" max="100" step="1" value="50"></mat-slider>
<div class="example-button-row">
  <button mat-raised-button>Basic</button>
  <button mat-raised-button color="primary">Primary</button>
  <button mat-raised-button color="accent">Accent</button>
  <button mat-raised-button color="warn">Warn</button>
  <button mat-raised-button disabled>Disabled</button>
  <a mat-raised-button href="https://www.google.com/" target="_blank">Link</a>
</div>

<p>
  Button with a badge on the left
  <button
    mat-raised-button
    color="primary"
    matBadge="5"
    matBadgePosition="before"
    matBadgeColor="accent"
  >
    Action
  </button>
</p>
