<h1 class="{{ title }}">Hello Angular {{ title }}</h1>

<button (click)="getData('Hello')">Call Function</button>

<br />
<br />
<input type="text" #box (keyup)="getData(box.value)" placeholder="event keyup" />


<br />
<br />
<input type="text" #box1 (keydown)="getData(box1.value)" placeholder="event keydown" />


<br />
<br />
<input type="text" #box3 (blur)="getData(box3.value)" placeholder="event blur" />

<br />
<br />
<input type="text" #box4 (input)="getData(box4.value)" placeholder="event input" />

<br>
<br>
<h1 (mouseover)="getData('hello')">code step by step</h1>

<h1 (mouseleave)="getData('leave')">code step by step</h1>
