<!-- pipes are nothing but the property such as uppercase , lowercase  -->
<h1>{{ title | uppercase }}</h1>

<h1>{{ title | lowercase }}</h1>

<h1>{{ title }}</h1>

<!-- to display multiple pipes -->
<h2>{{title |slice:5 |uppercase}}</h2>
<!-- to display json object -->
<h2>{{user |json}}</h2>

<!-- use of currency symbol  -->
<h2>{{20 | currency:"USD"}}</h2>

<!-- TO capitali -->
