<!--
  there are 2 types of forms in angular
    1.template driven form
    2.reactive form

    1. Reactive form
 -->

<h1>{{ title }}</h1>
<form [formGroup]="loginForm" (ngSubmit)="loginUser()">
  <input
    type="text"
    placeholder="enter name"
    name="user"
    formControlName="user"
  />
  <br /><br />
  <input
    type="text"
    placeholder="enter password"
    name="password"
    formControlName="password"
  />
  <button>Login</button>
</form>
