<!--
  there are 2 types of forms in angular
    1.template driven form
    2.reactive form

    1. template driven form
 -->

 <h1>{{title}}</h1>
 <form #loginForm="ngForm" (ngSubmit)="userLogin(loginForm.value)">


  <input type="text" placeholder="enteer name" name="name" ngModel>
  <br><br>
  <input type="text" placeholder="enter password" name="password" ngModel>
<br><br>
<button>Login</button>
 </form>


 <button (click)="userLogin(loginForm.value)">Outside login</button>
